master-detail-test.xcodeproj/project.xcworkspace/xcuserdata/danielwallace.xcuserdatad/
master-detail-test.xcodeproj/xcuserdata/danielwallace.xcuserdatad/
.DS_Store
master-detail-test.xcodeproj/project.xcworkspace/xcuserdata/danielwallace.xcuserdatad/UserInterfaceState.xcuserstate
master-detail-test.xcodeproj/xcuserdata/danielwallace.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
master-detail-test.xcodeproj/xcuserdata/danielwallace.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
master-detail-test.xcodeproj/project.xcworkspace/xcshareddata/
